In [ ]:
# pip install mysql-connector-python

In [ ]:
# connection to database
import mysql.connector  #To create a connection between the MySQL database and the python application, the connect() method of mysql.connector module is used.
mydb=mysql.connector.connect(host="localhost",user="root",passwd="root",database="pythondb",auth_plugin='mysql_native_password')
print(mydb)

In [7]:
import mysql.connector 
conn=mysql.connector.connect(host="localhost",user="root",passwd="root",database="pythondb",auth_plugin='mysql_native_password')
cur=conn.cursor()             #cursor is like a pointer
try:  
    dbs = cur.execute("show databases")  
except:  
    conn.rollback()  
for x in cur:  
    print(x)  
conn.close()

('ash',)
('ashish',)
('classicmodels',)
('information_schema',)
('myblog',)
('mysql',)
('mysqlsampledatabase',)
('performance_schema',)
('pythondb',)
('realestate',)
('sakila',)
('sys',)
('ust',)
('world',)

In [ ]:
#connect to data base and create database 
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="root")
cur=conn.cursor()
cur.execute("create database ust")           #database created
dbs = cur.execute("show databases")                 #show db
for x in cur:  
    print(x)

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="root",database="ust")
cur=conn.cursor()
cur.execute("create table Employee(Name varchar(20) , Id int(10)  primary key,salary float ,Dept_id int)")
conn.rollback()
conn.close()

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="root",database="ust")
cur=conn.cursor()
try:
    cur.execute("alter table employee add branch_name varchar(20) not null")
except:
    conn.rollback()
conn.close()

In [ ]:
import mysql.connector  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
#creating the cursor object  
cur = conn.cursor()  
sql = "insert into Employee(name, id, salary, dept_id, branch_name) values (%s, %s, %s, %s, %s)"  
  
#The row values are provided in the form of tuple   
# val = ("Ashish", 111, 35000.00, 202, "India") 
val = ("Anuj", 110, 35000.00, 285, "pak") 
  
try:  
    #inserting the values into the table  
    cur.execute(sql,val)  
  
    #commit the transaction   
    conn.commit()  
      
except:  
    conn.rollback()  
  
print(cur.rowcount,"record inserted!")  
conn.close()

In [4]:
import mysql.connector  
      
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur = conn.cursor()  
sql = "insert into Employee(name, id, salary, dept_id, branch_name) values (%s, %s, %s, %s, %s)"  
val = [("puja", 201, 25000.00, 203, "Newyork"),("umrah",202,25000.00,204,"Port of spain"),("rajesh",203,90000.00,205,"Newyork")]  
      
try:  
    #inserting the values into the table  
    cur.executemany(sql,val)  
  
    #commit the transaction   
    conn.commit()  
    print(cur.rowcount,"records inserted!")  
      
except:  
    conn.rollback()  
  
conn.close()

3 records inserted!

In [5]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur = conn.cursor()  
  
try:  
    #Reading the Employee data      
    cur.execute("select * from Employee")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
      
    for x in result:  
        print(x)
except:  
    conn.rollback()  
  
conn.close()

('John D', 103, 25000.0, 203, 'Newyork')
('David', 104, 25000.0, 204, 'Port of spain')
('Nick', 105, 90000.0, 205, 'Newyork')
('Atul', 110, 35000.0, 285, 'pak')
('puja', 201, 25000.0, 203, 'Newyork')
('umrah', 202, 25000.0, 204, 'Port of spain')
('rajesh', 203, 90000.0, 205, 'Newyork')

In [6]:
import mysql.connector  
#Create the connection object   
conn= mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
#creating the cursor object  
cur = conn.cursor()  
try:  
    #Reading the Employee data      
    cur.execute("select id, name, salary from Employee")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
    #printing the result  
    for x in result:  
        print(x);  
except:  
    conn.rollback()  
conn.close()

(103, 'John D', 25000.0)
(104, 'David', 25000.0)
(105, 'Nick', 90000.0)
(110, 'Atul', 35000.0)
(201, 'puja', 25000.0)
(202, 'umrah', 25000.0)
(203, 'rajesh', 90000.0)

In [8]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur = conn.cursor()  
  
try:  
    #Reading the Employee data      
    cur.execute("select name, id, salary from Employee")  
  
    #fetching the first row from the cursor object  
    result = cur.fetchone()  
    result1 = cur.fetchone()  
  
    #printing the result  
    print(result)  
    print(result1)  
  
except:  
    conn.rollback()  
      
conn.close()

('John D', 103, 25000.0)
('David', 104, 25000.0)

In [9]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur = conn.cursor()  
  
try:  
  
    #Reading the Employee data      
    cur.execute("select name, id, salary from Employee")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
  
    print("Name          id          Salary");  
    for row in result:  
        print("%s          %d          %d"%(row[0],row[1],row[2]))  
except:  
    conn.rollback()  
  
conn.close()

Name          id          Salary
John D          103          25000
David          104          25000
Nick          105          90000
Atul          110          35000
puja          201          25000
umrah          202          25000
rajesh          203          90000

In [10]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur =conn.cursor()  
  
try:  
    #Reading the Employee data      
    cur.execute("select name, id, salary from Employee where name like 'J%' ")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
  
    print("Name      id    Salary");  
  
    for row in result:  
        print("%s     %d    %d"%(row[0],row[1],row[2]))  
except:  
   conn.rollback()  
  
conn.close()

Name      id    Salary
John D     103    25000

In [11]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur =conn.cursor()  
try:  
    #Reading the Employee data      
    cur.execute("select name, id, salary from Employee where id in (110,105,103)")  
  
    #fetching the rows from the cursor object  
    result = cur.fetchall()  
  
    print("Name    id    Salary");  
  
    for row in result:  
        print("%s    %d    %d"%(row[0],row[1],row[2]))  
except:  
    conn.rollback()  
      
conn.close()

Name    id    Salary
John D    103    25000
Nick    105    90000
Atul    110    35000

In [12]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur =conn.cursor()  

try:
    '''cur.execute("select id,name,salary from employee order by name")
    result= cur.fetchall()'''

    cur.execute("select name, id, salary from employee order by name desc")
    result= cur.fetchall()

    print("name      id     salary")
    for row in result:
        print("%s   %d    %d"%(row[0], row[1], row[2]))
except:
    conn.rollback()
conn.close()

name      id     salary
umrah   202    25000
rajesh   203    90000
puja   201    25000
Nick   105    90000
John D   103    25000
David   104    25000
Atul   110    35000

In [13]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur =conn.cursor()  

try:  
    #updating the name of the employee whose id is 110  
    cur.execute("update Employee set name = 'akash' where id = 110")  
    conn.commit()  


    cur.execute("delete from Employee where id = 105")            # Delete employee details whose id is 105 
    conn.commit() 


    b=cur.execute("select * from employee")          #read data from table
    result=cur.fetchall()
    for x in result:
        print(x)
except:  
      
    conn.rollback()  
  
conn.close()

('John D', 103, 25000.0, 203, 'Newyork')
('David', 104, 25000.0, 204, 'Port of spain')
('akash', 110, 35000.0, 285, 'pak')
('puja', 201, 25000.0, 203, 'Newyork')
('umrah', 202, 25000.0, 204, 'Port of spain')
('rajesh', 203, 90000.0, 205, 'Newyork')

In [14]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="root",database="ust")
cur=conn.cursor()

cur.execute("create table Departments (Dept_id int(20) primary key not null, Dept_Name varchar(20) not null)")

sql = "insert into departments(dept_id, dept_name) values (%s, %s)"  
  
val=  (201, "CS")  
val1=  (202, "IT")
try:  
     
    cur.execute(sql,val)  #inserting the values into the table 
    conn.commit()              #commit the transaction 
    cur.execute(sql,val1)  #inserting the values into the table 
    conn.commit()          #commit the transaction
      
except:  
    conn.rollback()  
  
print(cur.rowcount,"record inserted!")  
conn.close()

-1 record inserted!

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="root",database="ust")
cur=conn.cursor()

try:  
    #joining the two tables on departments_id  
    cur.execute("select Employee.id, Employee.name, Employee.salary, Departments.Dept_id, Departments.Dept_Name from Departments join Employee on Departments.Dept_id = Employee.Dept_id")  
    print("ID    Name    Salary    Dept_Id    Dept_Name")  
    for row in cur:  
        print("%d    %s    %d    %d    %s"%(row[0], row[1],row[2],row[3],row[4]))  
          
except:  
    conn.rollback()  
  
conn.close()

In [ ]:
import mysql.connector  
  
#Create the connection object   
conn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur = conn.cursor()  
  
try:  
    #joining the two tables on departments_id  
    result = cur.execute("select Employee.id, Employee.name, Employee.salary, Departments.Dept_id, Departments.Dept_Name from Departments right join Employee on Departments.Dept_id = Employee.Dept_id")  
      
    print("ID    Name    Salary    Dept_Id    Dept_Name")  
      
    for row in cur:  
        print(row[0],"    ", row[1],"    ",row[2],"    ",row[3],"    ",row[4])  
      
      
          
except:  
    conn.rollback()  
  
conn.close()

In [ ]:
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "root",database = "ust")  
  
#creating the cursor object  
cur = myconn.cursor()  
try:  
     
    cur.execute("SELECT * FROM employee LIMIT 1 OFFSET 3")            #limit offset 
    myresult=cur.fetchall()

    for x in myresult:
        print(x)       
except:  
    myconn.rollback()  
  
myconn.close()