In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
keyword.iskeyword('try')

True

In [3]:
a=5  #variable
print(a)

5

In [4]:
a=10
def check():
    global a  #global varible
    a+=20
    print(a)
print(a)
check()

10
30

In [5]:
#list
l1=[1,2,4,3,4,65,6,5]
print(l1)
print(l1[0])
print(l1[4])
print(l1[2:4])
print(l1[:4])
print("max",max(l1))
print("min",min(l1))
print("length",len(l1))

[1, 2, 4, 3, 4, 65, 6, 5]
1
4
[4, 3]
[1, 2, 4, 3]
max 65
min 1
length 8

In [6]:
#append insert extend
l1=['abc',10,"hgd"]
l1.append('byee')   #add in the end
print(l1)
l1.insert(2,"Ashish")
print(l1)
l1.extend('Ashish')
print(l1)

['abc', 10, 'hgd', 'byee']
['abc', 10, 'Ashish', 'hgd', 'byee']
['abc', 10, 'Ashish', 'hgd', 'byee', 'A', 's', 'h', 'i', 's', 'h']

In [7]:
l1=['abc',10,"hgd"]
l1.pop()  # remove last iten
print(l1)
l1.remove('abc')
print(l1)

['abc', 10]
[10]

In [8]:
#list
t1=[1,3,45,6,7,65]
t2=[3,2,5,6,7,6]
print(len(t2))
print(t1+t2)
print(t1*5)

6
[1, 3, 45, 6, 7, 65, 3, 2, 5, 6, 7, 6]
[1, 3, 45, 6, 7, 65, 1, 3, 45, 6, 7, 65, 1, 3, 45, 6, 7, 65, 1, 3, 45, 6, 7, 65, 1, 3, 45, 6, 7, 65]

In [9]:
#tuple
t1=('a','b','c','d','e')
t2=('f','g','h','e','f')
t3=(54,6,65,65,756,5,5,43,43,434,323,23)
print(t1+t2)
print(t1[4])
print(t2[0:4])
print(len(t1))

print(t3)
print(max(t3))
print("max",max(t3))
print("min",min(t3))
print("length",len(t3))

for i in t3: #for loop
    print(i)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'e', 'f')
e
('f', 'g', 'h', 'e')
5
(54, 6, 65, 65, 756, 5, 5, 43, 43, 434, 323, 23)
756
max 756
min 5
length 12
54
6
65
65
756
5
5
43
43
434
323
23

In [10]:
# single line Comment
"""multiline comment"""

'multiline comment'

In [11]:
list1=["mumbai","pune","goa","kolar"]
print(list1)
list1.reverse()
print(list1)

['mumbai', 'pune', 'goa', 'kolar']
['kolar', 'goa', 'pune', 'mumbai']

In [12]:
list1=["mumbai","pune","goa","kolar"]
# l2=list1
l2=list1.copy()
print(l2)

['mumbai', 'pune', 'goa', 'kolar']

In [13]:
list1=["mumbai","pune","goa","kolar"]
i=0
while i<len(list1):
    print(i,list1[i])
    i=i+1

0 mumbai
1 pune
2 goa
3 kolar

In [14]:
# x=('sandeep','umrah','jeffry','ghousiya')
y=['sandeep','umrah','jeffry','ghousiya']    #type conversion list to tuple
x=tuple(y)
print(x)

NameError: name 'x' is not defined

In [15]:
a="Hello, World"
# print(a[2:5])  
print(a[5:])   #slicing

, World

In [16]:
a="Hello, World"
print(a.upper())  #uppper case

HELLO, WORLD

In [17]:
a="Hello, World"
print(a.lower()) #lower case

hello, world

In [18]:
a="Hello, World"
print(a.replace("H", "J"))  #replacing

Jello, World

In [19]:
a="Hello, World"
print(a.replace("o", "q"))

Hellq, Wqrld

In [20]:
a = "hello"
b =  "world"
c = a + b
print(c)  #concatination

helloworld

In [21]:
# Working with operators
# arithmetic oper
a=19
b=16
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

35
3
304
1.1875
3
1

In [22]:
# assignment operator
x=10
print(x)
x+=10
print(x)
x-=10
print(x)

a=10
print(a)
a*=10
print(a)

10
20
10
10
100

In [23]:
# comparison Operator
a,b=10,20
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a!=b)

False
True
True
False
True

In [24]:
# logical Operator
a=True
b=False
print(a and b)
print(a or b)
print(a and b)

False
True
False

In [25]:
# bitwise operator and
a=7
b=5
print(a & b)#and
print(a|b)# or
print(~5)# not
print(a>>b)#right shift
print(a<<b)# left shift
print(5^3)

5
7
-6
0
224
6

In [26]:
# Identity oper
x=10
print(x is 10)
print(x is not 10)

True
False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Admin\AppData\Local\Temp/ipykernel_10768/832399738.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(x is 10)
C:\Users\Admin\AppData\Local\Temp/ipykernel_10768/832399738.py:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(x is not 10)

In [27]:
# membership operator
language=['python','java','c#','R']
print('R' in language)
print('python' not in language)

True
False

In [28]:
# set
myset={1,3,5,6,7}
myset1={8,5,'b',3,1,'a'}
print(len(myset))
print(myset)
print(myset1)

print(myset|myset1) #union
print(myset&myset1) #intersection
print(myset-myset1)


for i in myset:
    print(i)
    
myset.add(8)
myset.add('Ashish')
print(myset)


myset.update(['Kumar','UST'])
print(myset)

myset.remove("Ashish")
print(myset)

myset.discard("Kumar")
print(myset)

myset.pop()
print(myset)

5
{1, 3, 5, 6, 7}
{1, 3, 5, 8, 'a', 'b'}
{1, 3, 5, 6, 7, 8, 'a', 'b'}
{1, 3, 5}
{6, 7}
1
3
5
6
7
{1, 3, 5, 6, 7, 8, 'Ashish'}
{1, 3, 'UST', 5, 6, 7, 8, 'Ashish', 'Kumar'}
{1, 3, 'UST', 5, 6, 7, 8, 'Kumar'}
{1, 3, 'UST', 5, 6, 7, 8}
{3, 'UST', 5, 6, 7, 8}

# dictonaries

In [29]:
# dictonaries
mydict= {
    "name":"Ashish",
    "emp_id": 215697,
    "company":"UST",
    "location":"bangalore"
}

print(mydict) #for print dict
print(mydict.keys())  #only keys
print(mydict.values()) #only Values
print(len(mydict)) #length of dict

# for copy
d1=mydict.copy()
print(d1)

d1.clear() #clear the dict
print(d1)

for i in mydict:
    print(i,':',mydict[i])    #iterating dict key value  

print(mydict['company']) #diplay value for the key
print(mydict['emp_id'])#diplay value for the key

mydict['emp_age']=25 #add item in the keys
print(mydict)

del mydict['location'] #deleting item from th dict
print(mydict)

mydict.pop('name') #removing item from the dict
print(mydict)

{'name': 'Ashish', 'emp_id': 215697, 'company': 'UST', 'location': 'bangalore'}
dict_keys(['name', 'emp_id', 'company', 'location'])
dict_values(['Ashish', 215697, 'UST', 'bangalore'])
4
{'name': 'Ashish', 'emp_id': 215697, 'company': 'UST', 'location': 'bangalore'}
{}
name : Ashish
emp_id : 215697
company : UST
location : bangalore
UST
215697
{'name': 'Ashish', 'emp_id': 215697, 'company': 'UST', 'location': 'bangalore', 'emp_age': 25}
{'name': 'Ashish', 'emp_id': 215697, 'company': 'UST', 'emp_age': 25}
{'emp_id': 215697, 'company': 'UST', 'emp_age': 25}

In [30]:
mylist=['a','b','c','d','c','d']
mylist=list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c', 'd']

In [31]:
s="ashish is working in ust"
s.count('s')

4

In [32]:
words = ['hello', 'goodbye', 'howdy', 'hello', 'hello', 'hi', 'bye']

print(words.count("hello"))
print(words.count("howdy"))

3
1

# String

In [54]:
s="ashish"
print(s.upper())
k="kUMAR"
print(k.lower())
print(s+k)
w_count="my name is ashish"
print(w_count.count('s'))
print(w_count.replace('name','kumar'))
print(w_count.split())
spacing='  sajdhk kdjskfh    fkshfk ksfkdf  ksfksf kshfkshf'
print(w_count.strip(' '))
d=" do something  but what, "
l=['lets','play','sleep','study']
print(d.join(l))
print("*".join(l))
print(d.find('but'))
print(d[8:15])

ASHISH
kumar
ashishkUMAR
3
my kumar is ashish
['my', 'name', 'is', 'ashish']
my name is ashish
lets do something  but what, play do something  but what, sleep do something  but what, study
lets*play*sleep*study
15
thing

# Conditional Statement

In [56]:
a=33
b=220
if b>a:
    print("Ture")
else:
    print("false")

Ture

In [57]:
a=333
b=220
if b>a:
    print("B is greater")
elif a==b:
    print("Equal")
elif a>b:
    print("A is greater")
else:
    print("Dont know")

B is greater

In [58]:
x=51
if  x>10:
    print("above10")
    if x>20:
        print("greater than 20")
    else:
        print("less than 20")

above10
greater than 20

In [59]:
c=['lal','pila','hara','blue']
f=['apple','banana','grapes']
for i in c:
    for j in f:
        print(i,'=',j)

lal = apple
lal = banana
lal = grapes
pila = apple
pila = banana
pila = grapes
hara = apple
hara = banana
hara = grapes
blue = apple
blue = banana
blue = grapes

In [62]:
def jor(a,b):
    return a+b
def ghatao(a,b):
    return a-b
def guna(a,b):
    return a*b
def bhag(a,b):
    return a/b
print(jor(10,12))
print(ghatao(15,12))
print(guna(15,12))
print(bhag(15,3))

22
3
180
5.0

In [ ]:
# csv